      body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('latar.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;
}

header .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

main h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: #8B008B;
    border-radius: 25px;
    padding: 10px 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: gold;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    border:1px solid #Fff;
}

.button img {
    width: 24px;
    height: 24px;
}

.button:hover {
    transform: scale(1.05);
    color: #fff;
    border-radius: 25px;
    background-color: #4B0082;
    border: 1px  solid #fff;
    border-block: 6px solid #ddd;
}
.button a :hover {
  border-radius: 5px;
}
footer {
    padding: 50px;
    margin-top: 40px;
    color: #666;
    font-size: 14px;
}