* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background: url('') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.logo img {
    width: 100px;
    display: block;
    margin: 10px auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu {
    margin-top: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 12px 20px;
    border-radius: 25px;
    background: url('com/qDM9l8oUejUAAAAM/') no-repeat center center/cover;
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    border: 2px solid #fff;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.whatsapp {
    background: url('9l8oUejUAAAAM/outer-') no-repeat center center/cover;
}

.marketplace {
    background: url('dia.tenor.com/qDM9l8oUejUAAA') no-repeat center center/cover;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: underline;
}
